<p id="notice"><%= notice %></p>

<div class="jumbotron">
  <strong>Product:</strong>
    <%= @order.product_id %>
    <br/>
  <strong>User:</strong>
    <%= @order.user_id %>
    <p class="lead">
      <strong>Quantity:</strong>
      <%= @order.quantity %>
    </p>
    <br/>
  <%= link_to 'Edit', edit_order_path(@order), class:"btn btn-secondary" %>   
  <%= link_to 'Back', orders_path, class:"btn btn-dark" %>
</div>